.gatinhos {
    background-color: black;
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.secttion1 {
    background-color: aqua;
padding: 100px;

}


.section2 {
    background-color: bisque;
    padding: 100px;
}